body {
    background-color: #F4EEFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.n-header {
    background-color: #424874 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: Ubuntu;
    color: #F4EEFF;
}

.n-header i {
    color: #A6B1E1;
}

#name {
    margin-bottom: 1rem;
}

.avatar {
    width: 75%;
    max-width: 15vh;
    display: block;
    margin: auto;
    border: solid 1px #F4EEFF;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

.inline {
    display: inline;
    width: auto;
    padding: 0.3rem;
    margin-bottom: 0;
    font-size: small;
}

.indent {
    margin-left: 0.5rem;
}

.nav-tooltip {
    --bs-tooltip-bg: #A6B1E1;
    --bs-tooltip-color: #424874;
}

.no-style-link {
    text-decoration: none;
}

.contact-icons:hover {
    color: #F4EEFF;
}

/* xs */
@media only screen and (min-width: 0px) {

    .n-header {
        text-align: center;
    }

    .avatar {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .inline {
        font-size: x-small;
        padding: 2px;
    }

    .container-icons {
        padding-bottom: 0.5rem;
        padding-top: 2rem;
    }

    .contact-icons {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }

}

/* sm */
@media only screen and (min-width: 576px) {

    .inline {
        font-size: small;
    }

}

/* md */
@media only screen and (min-width: 768px) {

}

/* lg */
@media only screen and (min-width: 992px) {

    .n-header {
        text-align: left;
    }

    #name {
        font-size: xx-large;
    }

    .avatar {
        margin-top: 12.5%;
        margin-bottom: 12.5%;
    }

    .contact-icons {
        font-size: large;
    }

    .container-icons {
        text-align: right;
        height: 100%;
        align-self: end;
    }

}

/* xl */
@media only screen and (min-width: 1200px) {

}