/*

primary-dark: #424874
primary: #a6b1e1
primary-light: #dcd6f7
secondary: #d6e5e3
tertiary: #cacfd6
background-body: #f4d58d

*/

body {
    background-color: #F4EEFF;
    font-family: Ubuntu;
}

.n-header {
    background-color: #424874 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #F4EEFF;
}

.n-header i {
    color: #A6B1E1;
}

#name {
    margin-bottom: 1rem;
}

.avatar {
    width: 75%;
    max-width: 15vh;
    display: block;
    margin: auto;
    border: solid 1px #F4EEFF;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

.inline {
    display: inline;
    width: auto;
    padding: 0.3rem;
    margin-bottom: 0;
    font-size: small;
}

.indent {
    margin-left: 0.5rem;
}

.nav-tooltip {
    --bs-tooltip-bg: #A6B1E1;
    --bs-tooltip-color: #424874;
}

.no-style-link {
    text-decoration: none;
}

.contact-icons:hover {
    color: #F4EEFF;
}

.cv-section-title {
    color: #424874;
    padding-left: 1rem;
    margin-bottom: 0.9rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.cv-el-card {
    background-color: #dcd6f775;
    border: solid 1px #A6B1E1;
    margin-bottom: 0.55rem;
}

.el-descrizione {
    color: #424874;
    margin-bottom: 0;
}

.el-azienda {
    color: #a6b1e1;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0;
}

.el-info {
    color: rgb(133, 132, 132);
}

.space-before {
    margin-left: 1.5rem;
}

.cv-el-card-section {
    background-color: #424874;
    color: #F4EEFF;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.accordion-button.collapsed:hover {
    background-color: #A6B1E1;
    color: #424874;
}

.accordion-button.collapsed {
    background-color: #424874;
    color: #F4EEFF;
    box-shadow: none;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    background-color: #424874;
    color: #F4EEFF;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
    background-color: #F4EEFF;
    border-width: 0px;
}

.cl-lingua {
    color: #424874;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0;
}

.progress {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    border: solid 0.5px #424874;
}

.progress-bar {
    background-color: #424874;
}

.badge {
    background-color: #A6B1E1;
    margin: 0.25rem 0.1rem;
    padding: 0.4rem 1rem;
    color:  #424874;
    font-weight: 250;
}

.modal-header {
    background-color: #424874;
    color: #F4EEFF;
    font-size: normal;
}

.modal-body {
    background-color: #F4EEFF;
    color: #424874;
    font-size: 0.8rem;
}

/* xs */
@media only screen and (min-width: 0px) {

    .n-header {
        text-align: center;
    }

    .avatar {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .inline {
        font-size: x-small;
        padding: 2px;
    }

    .container-icons {
        padding-bottom: 0.5rem;
        padding-top: 2rem;
    }

    .contact-icons {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }

    .el-descrizione {
        font-size: 0.9rem;
    }

    .el-azienda {
        font-size: 0.75rem;
    }

}

/* sm */
@media only screen and (min-width: 576px) {

    .inline {
        font-size: small;
    }

    .el-descrizione {
        font-size: 1rem;
    }

    .el-azienda {
        font-size: 0.85rem;
    }

}

/* md */
@media only screen and (min-width: 768px) {

}

/* lg */
@media only screen and (min-width: 992px) {

    .n-header {
        text-align: left;
    }

    #name {
        font-size: xx-large;
    }

    .avatar {
        margin-top: 12.5%;
        margin-bottom: 12.5%;
    }

    .contact-icons {
        font-size: large;
    }

    .container-icons {
        text-align: right;
        height: 100%;
        align-self: end;
    }

}

/* xl */
@media only screen and (min-width: 1200px) {

}